{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}

<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>We would love to connect</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, quibusdam.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section class="contact-form">
  <div class="container">    
    <div class="contact-box row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>Stop By For A visit</h2>
          <ul class="address-block">
            <li>
              <i class="ion-ios-location-outline"></i>Lagos, Nigeria
            </li>
            <li>
              <i class="ion-ios-email-outline"></i>Email: mosesogheneo@gmail.com
            </li>
            <li>
              <i class="ion-ios-telephone-outline"></i>Phone:+234 905 9367 457
            </li>
          </ul>
          <ul class="social-icons">
            <li>
              <a href="http://instagram.com/local.dev_"><i class="ion-social-instagram-outline"></i></a>
            </li>
            <li>
              <a href="http://github.com/mosesoghene"><i class="ion-social-github-outline"></i></a>
            </li>
            <li>
              <a href="http://twitter.com/LocalDev_"><i class="ion-social-twitter-outline"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 mt-5 mt-md-0">
        <div class="block">
          <div class="google-map">
            <div class="map" id="map_canvas" data-latitude="51.5223477" data-longitude="-0.1622023"
              data-marker="images/marker.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}