{% extends 'base.html' %}


{% block title %} Create post {% endblock %}

{% block content %}

    <section class="page-title bg-2">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block">
                <h1>Create New Post</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, quibusdam.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- contact form start -->
      <section class="contact-form">
        <div class="container">
          <form class="row" id="contact-form" method="post">
            <div class="col-md-12 col-sm-12">
              <div class="block">
                <div class="form-group">
                  <input name="title" type="text" class="form-control" placeholder="Post Title">
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="block">
                <div class="form-group-2">
                  <textarea name="body" class="form-control" rows="4" placeholder="Tolka: Hey, what do you wanna tolka-bout 🙂 💬"></textarea>
                </div>
                <button class="btn btn-default" type="submit">Publish Post</button>
              </div>
            </div>
            <div class="error" id="error">Sorry Msg dose not sent</div>
            <div class="success" id="success">Message Sent</div>
          </form>
        </div>
      </section>

{% endblock %}